<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="nativeService.userIsOnIos" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding sign-up-form">
  <div class="main-container">
    <ion-img class="image-logo" src="assets/logo-bare.png"></ion-img>
    <ion-row class="ion-justify-content-center ion-margin-bottom ion-margin-top">
      <ion-item mode="ios" class="sign-up-item">
        <ion-label mode="ios" position="stacked">Your e-mail</ion-label>
        <ion-input placeholder="myemail@email.com" mode="ios" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-item mode="ios" class="sign-up-item">
        <ion-label mode="ios" position="stacked">Pick a password</ion-label>
        <ion-input mode="ios" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-item mode="ios" class="sign-up-item">
        <ion-label mode="ios" position="stacked">Confirm Password</ion-label>
        <ion-input mode="ios" type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="willBeRentingOut" class="ion-justify-content-center ion-margin-bottom">
      <ion-item mode="ios" class="sign-up-item">
        <ion-label mode="ios" position="stacked">Company Name</ion-label>
        <ion-input mode="ios" [(ngModel)]="companyName"></ion-input>
      </ion-item>
    </ion-row>
    <ion-item lines="none">
      <ion-label>Will you also be renting out rooms?</ion-label>
      <ion-checkbox mode="ios" [(ngModel)]="willBeRentingOut" color=""></ion-checkbox>
    </ion-item>
    <ion-row class="ion-justify-content-center sign-up-button-container ion-margin-top">
      <ion-button mode="ios" class="sign-up-button" (click)="registerUser()">
        <ion-label *ngIf="!isLoading">Create User</ion-label>
        <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
      </ion-button>
      <ion-label class="ion-text-center" color="danger"> {{ errorMessage }} </ion-label>
    </ion-row>
  </div>
</ion-content>
