.sign-up-item {
  display:flex;
  width: 100%;
}

.main-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-logo {
  width: 70%;
  margin: 0 auto 30px;
}
