<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="all-rooms">
      <fa-icon [icon]="['far', 'list-alt']" class="icon-size"></fa-icon>
      <ion-label>All Rooms</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-booked-rooms">
      <fa-icon [icon]="['far', 'bookmark']" class="icon-size"></fa-icon>
      <ion-label>My Bookings</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="isProprietor" tab="new-room">
      <fa-icon [icon]="['far', 'plus-square']" class="icon-size"></fa-icon>
      <ion-label>Add Room</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <fa-icon [icon]="['far', 'user']" class="icon-size"></fa-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
