<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="all-rooms">
      <fa-icon [icon]="['far', 'list-alt']" class="icon-size"></fa-icon>
      <ion-label>All Rooms</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-booked-rooms">
      <fa-icon [icon]="['far', 'bookmark']" class="icon-size"></fa-icon>
      <ion-label>Booked Rooms</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="new-room">
      <fa-icon [icon]="['fas', 'plus']" class="icon-size"></fa-icon>
      <ion-label>Add Room</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
