<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="nativeService.userIsOnIos" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{room?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <img [src]="room?.imageUrl">
    <ion-card-header>
      <ion-card-subtitle>Price: {{ room?.price }} NOK</ion-card-subtitle>
      <ion-card-title> {{ room?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="description-container">
      {{ room?.description }}
      <div class="button-container">
        <ion-button *ngIf="!isRentedByUser" [disabled]="room?.rented" (click)="rentRoom()">
            <ion-label *ngIf="!isLoading">Rent Room</ion-label>
            <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        </ion-button>
        <ion-button *ngIf="isRentedByUser" color="danger" (click)="removeReservation()">
          <ion-label *ngIf="!isLoading">Delete reservation</ion-label>
          <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
