.no-content-text {
  height: 100%;
  max-width: 70%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: 40vh;
}

.empty-container {
  height: 100%;
}

.thicc-text {
  font-weight: bold;
}
