<p>
  <ion-card class="card">
    <img [src]="roomData.imageUrl" />
    <ion-card-header>
      <ion-card-subtitle>Price: {{ roomData.price }} NOK</ion-card-subtitle>
      <ion-card-title>{{ roomData.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
     {{ roomData.description }}
      <div *ngIf="showStatus">
        <ion-row *ngIf="!roomData.rented" class="status-row">
          <fa-icon class="status-icon success-color" [icon]="['far', 'check-circle']"></fa-icon>
          <ion-label class="status-label">Available</ion-label>
        </ion-row>
        <ion-row *ngIf="roomData.rented" class="status-row">
          <fa-icon class="status-icon dangler-color" [icon]="['far', 'times-circle']"></fa-icon>
          <ion-label class="status-label">Is rented</ion-label>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</p>
