.information-icon {
  font-size: 1.8rem;
  color: #3E83FF;
}

.icon-text {
  font-weight: 600;
  margin-left: 15px;
  font-size: 1.1rem;
  align-self: center;
}

.info-text {
  font-size: 1.1rem;
  margin-left: 5px;
  font-weight: normal !important;
  align-self: center;
  text-align: right;
}

.sign-out-button {
  width: 100%;
}

.sub-headline {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}

.room-item {
  padding-top: 10px;
}

.bold-text {
  font-weight: bold;
}

.no-content-text {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.thicc-text {
  font-weight: bold;
}
