<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center ion-margin-bottom">
    <ion-label class="sub-headline">My Information</ion-label>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <fa-icon [icon]="['far', 'envelope']" class="information-icon"></fa-icon>
    <ion-label class="icon-text">
      My Email:
    </ion-label>
    <ion-label class="info-text"> {{ email | async }}</ion-label>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <fa-icon [icon]="['far', 'user']" class="information-icon"></fa-icon>
    <ion-label class="icon-text">Your role:</ion-label>
    <ion-label class="info-text"> {{ isProprietor ? 'Proprietor' : 'Tenant'  }} </ion-label>
  </ion-row>
  <ion-row *ngIf="company">
    <fa-icon [icon]="['far', 'building']" class="information-icon"></fa-icon>
    <ion-label class="icon-text">Company:</ion-label>
    <ion-label class="info-text"> {{ company }} </ion-label>
  </ion-row>
  <div *ngIf="isProprietor">
    <ion-row class="ion-justify-content-center margin-top">
      <ion-label class="sub-headline">My Rooms</ion-label>
    </ion-row>
    <ion-item class="room-item" *ngFor="let room of myRooms | async" lines="none">
      <ion-label>
        {{ room.title }}
        <span class="bold-text" *ngIf="room.rented"> (rented)</span>
      </ion-label>
      <ion-button [disabled]="isDeleting || room.rented" mode="ios" color="danger" (click)="deleteRoom(room.roomId)">
        <ion-label *ngIf="!isDeleting">Delete Room</ion-label>
        <ion-spinner name="crescent" *ngIf="isDeleting"></ion-spinner>
      </ion-button>
    </ion-item>
    <ion-item class="ion-justify-content-center" lines="none">
      <ion-label class="no-content-text" *ngIf="isEmpty">
        You have no rooms for rent,
        <span class="thicc-text">yet.</span>
      </ion-label>
    </ion-item>
  </div>
  <ion-row class="ion-margin-top">
    <ion-button mode="ios" (click)="signOut()" class="sign-out-button">Sign out</ion-button>
  </ion-row>
</ion-content>
